/* ---- Layout Containers ---- */

h3 {
	@extend %centered;
}

p.introduction {
	
    @extend %justified;
	padding: 2%;
	color: $color-text-intro;
	
     @include tablet {
		float: left;
		width: 47.5%
	}
	
    @include desktop {
		float: left;
		font-size: 17px;
		
	}
}

.portfolio {
	background: $color-container;
	display: inline-block;
}

.portfolio-title {
	@extend %centered;
}

.p {
    
    @include text (18px, $l-height: 1.5, $weight: normal, $color: $color-text-default);
	@extend %justified;
	@include desktop {
		text-align: justify;
	}
}

p.contact {
	@extend %justified;
	padding: 10%;
}

p.phone {
	@extend %centered;
}

p.e-mail {
	@extend %centered;
}