 /* Base Element Styles */
 
 * {
 	box-sizing: border-box;
 }
 
 body {
 	@include text (18px, $l-height: 1.5, $weight: normal, $color: $color-text-default);
 	font-family: 'Alice', serif;
 	background-color: $color-background;
 	@include tablet {
 		padding-top: 5px;
 	}
 }
 /*Links*/
 
 a {
 	&:link {
 		text-decoration: none;
 		font-size: 18px;
 	}
 	/* Unvisited Links */
 	&:link {
 		color: $color-text-intro;
 	}
 	/* Visited Links */
 	&:visited {
 		color: $color-link-visited;
 	}
 	/* Selected Links */
 	&:active {
 		color: $color-link-active;
 	}
 }